.heading h1 {
    font-size:56px ;
    color: rgb(99, 99, 99);
    
}
.heading {
    margin-top: 50px;
    text-align: center;
    p {
       color: rgb(99, 99, 99);
       font-size: 15px;
       margin-top: 10px;
    }
}
