.testimonial-text {
  font-size: 24px;
  color: #81c408;
  text-align: center;
  margin-top: 50px;
}

.testimonial-para {
  font-size: 48px;
  color: #45595b;
  text-align: center;
  margin-top: 20px;
}
