.container {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.page-icon i {
    font-size: 100px;
    color: #ffb524;
}

.page-icon h1 {
 font-size: 80px;
 color:#45595b;
}

.page-icon h2 {
    font-size: 40px;
    color:#45595b;

}

.page-icon P {
    color:#45595b;
    margin-top: 10px;
}

.page-icon button {
    width: 233.46px;
    height: 57.6;
    margin-top: 20px;
    padding: 16px 48px;
    border: 1px solid  #ffb524 ;
    border-radius: 20px;
    vertical-align: middle;
    color: #45595b;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    

    &:hover {
        background-color: #ffb524;
    }
}