.container {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
  }
  
  .billing {
    color: rgb(187, 187, 187);
    margin-top: 30px;
  }
  
  .form-section {
    width: 100%;
    margin-top: 30px;
  
    .input-section {
      display: flex;
      gap: 30px;
  
      .input-group {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 8px;
          font-weight: 500;
          color: #333;
        }
  
        input {
          padding: 10px;
          border-radius: 15px;
          width: 300px;
          border: 1px solid #ccc;
        }
      }
    }
  
    .full-width {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 8px;
        font-weight: 500;
        color: #333;
      }
  
      input {
        padding: 10px;
        border-radius: 15px;
        width: 630px; 
        border: 1px solid #ccc;
      }
    }
  }
  