.nav-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 2rem;
  color: #79c000;

  .icon-btn {
    border: 2px solid orange;
    border-radius: 50%;
    background: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #79c000;
    cursor: pointer;

    &:hover {
      background-color: rgb(255, 181, 36);
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  .cart {
    position: relative;

    img {
      width: 24px;
      height: 24px;
    }

    .badge {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: rgb(255, 181, 36);
      color: white;
      font-size: 12px;
      border-radius: 50%;
      padding: 2px 6px;
    }
  }

  .bar-icon {
    display: none;
    border: 1px solid rgb(185, 185, 185);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
  }

  .user-icon {
    width: 24px;
    padding: 20px;
  }

  @media (max-width: 1100px) {
    .icon-btn,
    .cart,
    .fa-user {
      display: none;
    }

    .bar-icon {
      display: block;
    }
  }
}
